<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Reservation</title>
    <script>
        // const fetch = require('node-fetch');
        var username = '<%- user %>';
        console.log(username);
        function myFunction(){
            // Simulate a mouse click:
            window.location.href = "http://www.w3schools.com";
        }
        const reserveAction = async (bid) => {
            const data = {ID: bid, Status: 'Unavailable'};
            const url = 'http://localhost:3000/api/books/' + bid;
            const response = await fetch(url, {
                method: 'PUT',
                body: JSON.stringify(data), // string or object
                headers: {
                'Content-Type': 'application/json'
                }
            })
            .catch((error) => {
                console.log(error)
            });

            const data2 = {BID: bid, R_email: username};
            console.log(data2);
            const url2 = 'http://localhost:3000/api/borrowing';
            const response2 = await fetch(url2, {
                method: 'POST',
                body: JSON.stringify(data2), // string or object
                headers: {
                'Content-Type': 'application/json'
                }
            })
            .catch((error) => {
                console.log(error)
            });
            window.location.href = "http://localhost:3000/reservationSuccessful";
        }

    </script>
</head>
<%- include('partials/navbar.ejs') %>
<body>
    <div style="padding: 2% 20% 0 20%;">
        <h1 style="text-align:center">Book Checkout for <%=book.Name%></h1>
        <section>
            <div class="container" style="padding-top: 10%;">
                <div class="row">

                    <div class="col-md-6">
                        <img width="200"
                        src="https://i.fbcd.co/products/resized/resized-750-500/ae2d64e634f5beaa6f0e867d529ece28f0504e9e24fc4d5e0d6fd21f0a05df7f.jpg" />
                    </div>

                    <div class="col-md-6">
                        <p class="bookInfo"><strong>Title: </strong> <%=book.Name%> </p>
                        <p class="bookInfo"><strong>Author(s):</strong> 
                            <%book.authors.forEach((element, index) => {%>
                            <%=element.Fname + " " + element.Lname%>
                            <% if(index < book.authors.length-1) { %>
                                <%=", "%>
                            <% } %>
                            <% }); %>
                        </p>

                        <span style="display: grid; grid-template-columns: 92px min-content;">
                            <p class="bookInfo"><strong>Rating:</strong>  <%=book.AverageRating.toFixed(2)%> </p>
                            <% for (var i =1; i <book.AverageRating; i++ ) { %>
                                <!-- <img width="23" src="https://upload.wikimedia.org/wikipedia/commons/2/29/Gold_Star.svg"/> -->
                                <p>&#11088;</p>
                                <% } %>
                        </span>
                        
                        <p class="bookInfo"><strong>Status: </strong>
                        <% if(book.Status == 'Active'){ %>
                            <span style="color:green">
                        <% } else{ %>
                            <span style="color:red">
                        <% } %>
                            <%=book.Status%> </span></p>
                    </div>
                </div>
            </div>
        </section>
        <% if(book.Status == 'Active' && loggedIn == true){ %>
            <section>
                <div class="d-flex justify-content-center" style="padding-top: 10%">
                    
                    <!-- Need to update for redirection. Need book id? -->
                    <a href="javascript:void(0);" class="btn btn-secondary" style="margin-right: 0.5%;" onclick="history.back()">Back</a>
                    <a href="javascript:void(0);" class="btn btn-success" style="margin-right: 0.5%;" onclick="reserveAction('<%=book.ID%>')">Reserve</a>
                </div>
            </section>
        <% } else{ %>
            <section>
                <div class="d-flex justify-content-center" style="padding-top: 5%">
                    <p>This book is unavailable<br></p>
                    <!-- Need to update for redirection. Need book id? -->
                </div>
                <div class="d-flex justify-content-center">
                    <!-- Need to update for redirection. Need book id? -->
                    <a href="javascript:void(0);" class="btn btn-secondary" style="margin-right: 0.5%;" onclick="history.back()">Back</a>
                    <!-- <a href="#" class="btn btn-secondary" style="margin-right: 0.5%;" onclick="javascript:goBack()">Back</a> -->
                </div>
                <p><%= user %></p>
            </section>
        <% } %>

    </div>
</body>
</html>