<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<%- include('partials/navbar.ejs') %>
    <style>
        body {
            background-color: ghostwhite;
        }

        .card {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            max-height: 300px;
            transition: .1s;
        }

        .card-img-top {
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        .card:hover {
            box-shadow: 2px 2px 2px grey;
            transform: scale(1.05);
        }
    </style>

    <body>
        <div class="container-fluid">
            <h2 class="display-6 text-center" style="padding-top:20px; padding-bottom:20px;">Welcome To The SENG401
                Library!</h2>
            <div class=" row">
                <div class="col-4 text-dark text-center">
                    <div class="col-12">
                        <h4 class="display-6">Genre Filter</h4>
                        <form action="/api/genreFilter" method="post">
                            <label for="genre">Genre</label>
                            <select name="genre" id="genre">
                                <option value="none" selected disabled hidden>Select a Genre</option>
                                <option value="Action">Action</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Romance">Romance</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Science Fiction">Science Fiction</option>
                                <option value="History">History</option>
                                <option value="Horror">Horror</option>
                                <option value="Manga">Manga</option>
                            </select>
                            <input type="submit" value="Filter" />
                        </form>
                        <h4 class="display-6">Top Rated Books</h4>
                        <% books.sort(function(a, b) { %>
                            <% return b.AverageRating - a.AverageRating ; %>
                                <% }); %>
                                    <ul class="list-group">
                                        <% let sortedRatings=[]; %>
                                            <% for (let b of books) { %>
                                                <li class="list-group-item">
                                                    <b>
                                                        <%= b.Name %>
                                                    </b> | Average Rating: <%= b.AverageRating %>
                                                        <a href="/api/bookdetail?ID=<%= b.ID %>"
                                                            class="stretched-link"></a>
                                                </li>
                                                <% } %>
                                    </ul>
                    </div>
                </div>
                <div class=" col-8">
                    <div class="row">
                        <% for (let b of books) { %>
                            <%#<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">%>
                                <div class="card" style="width:15rem;">
                                    <img class="card-img-top"
                                        src="https://i.fbcd.co/products/resized/resized-750-500/ae2d64e634f5beaa6f0e867d529ece28f0504e9e24fc4d5e0d6fd21f0a05df7f.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= b.Name %>
                                        </h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                Genre: <%= b.Genre %>
                                            </li>
                                        </ul>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                Status: <%= b.Status %>
                                            </li>
                                        </ul>
                                        <a href="/api/bookdetail?ID=<%= b.ID %>" class="stretched-link"></a>
                                    </div>
                                </div>
                                <%#< /div>%>
                                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>